# NGINX
DOMAIN_NAME=aguiot--.42.fr

# DATABASE
DB_NAME=wordpress
DB_USER=wordpress
DB_PASS=wordpress

# WORDPRESS
WP_URL='https://aguiot--.42.fr/'
WP_TITLE="aguiot--'s Inception"
WP_ADMIN_MAIL='aguiot--@student.42.fr'
WP_ADMIN_USER='aguiot--'
#WP_ADMIN_PASS='MyP@s$W0rDiSN0T$4f3' # Not specified or blank = auto generated on first run. Recommended option.
WP_REDIS_HOST='redis'
WP_REDIS_DATABASE=0
