DOMAIN_NAME=aguiot--.42.fr

# certificates
CERTS_=./XXXXXXXXXXXX

# DATABASE
DB_HOST=mariadb
DB_NAME=wordpress
DB_USER=wordpress
DB_PASS=wordpress

# WORDPRESS
WP_URL='aguiot--.42.fr/wordpress'
WP_TITLE="aguiot--'s Inception"
WP_ADMIN_MAIL='aguiot--@student.42.fr'
WP_ADMIN_USER='aguiot--'
#WP_ADMIN_PASS='MyP@s$W0rDiSN0T$4f3' # Not specified or blank = auto generated on first run. Recommended option.
