version: '3'

services:
  mariadb:
    build:
      context: images/mariadb
    image: mariadb
    restart: unless-stopped
    networks:
      - default
    volumes:
      - mariadb-data:/var/lib/mysql:rw
    environment:
      DB_NAME: ${DB_NAME:-wordpress}
      DB_USER: ${DB_USER:-wordpress}
      DB_PASS: ${DB_PASS:-wordpress}

  nginx:
    build:
      context: images/nginx
    image: nginx
    depends_on:
      - wordpress
    restart: unless-stopped
    networks:
      - default
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - wordpress-data:/var/www/wordpress:ro

  wordpress:
    build:
      context: images/wordpress
    image: wordpress
    depends_on:
      - mariadb
    restart: unless-stopped
    networks:
      - default
    volumes:
      - wordpress-data:/var/www/wordpress:rw
    environment:
      DB_HOST: ${DB_HOST:-mariadb}
      DB_NAME: ${DB_NAME:-wordpress}
      DB_USER: ${DB_USER:-wordpress}
      DB_PASS: ${DB_PASS:-wordpress}
      WP_URL: ${WP_URL:-localhost}
      WP_TITLE: ${WP_TITLE:-wordpress}
      WP_THEME: ${WP_THEME:-twentytwentyone}
      WP_ADMIN_USER: ${WP_ADMIN_USER:-wordpress}
      WP_ADMIN_PASS: ${WP_ADMIN_PASS:-wordpress}
      WP_ADMIN_MAIL: ${WP_ADMIN_MAIL:-admin@wordpress.com}

networks:
  default:

volumes:
  mariadb-data:
    driver: local
    driver_opts:
      type: none
      device: "/home/$USER/data/mariadb"
      o: bind

  wordpress-data:
    driver: local
    driver_opts:
      type: none
      device: "/home/$USER/data/wordpress"
      o: bind
