version: '3'


x-service-base: &service-base
  restart: unless-stopped
  networks: []
  volumes: []
  logging:
    driver: "json-file"
    options:
      max-size: 10m
      max-file: "3"

x-bind-mount-base: &bind-mount-base
  driver: local
  driver_opts: &driver_opts
    type: none
    o: bind

x-env-DB: &env-DB
  DB_HOST: ${DB_HOST:-mariadb}
  DB_NAME: ${DB_NAME:-wordpress}
  DB_USER: ${DB_USER:-wordpress}
  DB_PASS: ${DB_PASS:-wordpress}

x-env-WP: &env-WP
  WP_URL: ${WP_URL:-localhost}
  WP_TITLE: ${WP_TITLE:-wordpress}
  WP_THEME: ${WP_THEME:-twentytwentyone}
  WP_ADMIN_MAIL: ${WP_ADMIN_MAIL:-admin@wordpress.com}
  WP_ADMIN_USER: ${WP_ADMIN_USER:-wordpress}
  WP_ADMIN_PASS: ${WP_ADMIN_PASS:-} # No default value because generated on first run if blank
  WP_REDIS_HOST: ${WP_REDIS_HOST:-redis}
  WP_REDIS_DATABASE: ${WP_REDIS_DATABASE:-0}

x-env-FTP: &env-FTP
  FTP_HOST: ${FTP_HOST:-localhost}
  FTP_USER: ${FTP_USER:-wordpress}
  FTP_PASS: ${FTP_PASS:-wordpress}
  FTP_PASV_PORT_MIN: ${FTP_PASV_PORT_MIN:-21000}
  FTP_PASV_PORT_MAX: ${FTP_PASV_PORT_MaX:-21010}


services:
  mariadb:
    <<: *service-base
    build:
      context: images/mariadb
    image: mariadb
    networks:
      - mariadb
    volumes:
      - mariadb-data:/var/lib/mysql:rw
    environment:
      <<: *env-DB

  nginx:
    <<: *service-base
    build:
      context: images/nginx
    image: nginx
    networks:
      - nginx
    ports:
      - '443:443'
    volumes:
      - ssl:/etc/nginx/ssl/:rw
      - wordpress-data:/var/www/wordpress:ro
      - adminer-data:/var/www/adminer:ro
      - goaccess-data:/var/www/goaccess:ro
      - nginx-log:/var/log/nginx:rw
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME:-login.42.fr}
      WP_HOST: ${WP_HOST:-wordpress}
      ADMINER_HOST: ${ADMINER_HOST:-adminer}

  wordpress:
    <<: *service-base
    build:
      context: images/wordpress
    image: wordpress
    depends_on:
      - mariadb
      - redis
    networks:
      - mariadb
      - redis
      - nginx
    volumes:
      - wordpress-data:/var/www/wordpress:rw
    environment:
      <<: *env-DB
      <<: *env-WP

  adminer:
    <<: *service-base
    build:
      context: images/adminer
    image: adminer
    depends_on:
      - mariadb
    networks:
      - mariadb
      - nginx
    volumes:
      - adminer-data:/var/www/adminer/:ro

  redis:
    <<: *service-base
    build:
      context: images/redis
    image: redis
    networks:
      - redis

  goaccess:
    <<: *service-base
    build:
      context: images/goaccess
    image: goaccess
    networks:
      - nginx
    volumes:
      - goaccess-data:/goaccess/html:rw
      - nginx-log:/goaccess/data:ro


  vsftpd:
    build:
      context: images/vsftpd
    image: vsftpd
    restart: unless-stopped
    depends_on:
      - wordpress
    ports:
      - '21:21'
      - "${FTP_PASV_PORT_MIN:-21000}-${FTP_PASV_PORT_MAX:-21010}:${FTP_PASV_PORT_MIN:-21000}-${FTP_PASV_PORT_MAX:-21010}"
    networks:
      - default
    volumes:
      - wordpress-data:/home/${FTP_USER:-wordpress}/wordpress:rw
      - ssl:/ssl/:rw
    environment:
      <<: *env-FTP


networks:
  nginx:

  mariadb:

  redis:


volumes:
  ssl:

  adminer-data:

  goaccess-data:

  nginx-log:

  mariadb-data:
    <<: *bind-mount-base
    driver_opts:
      <<: *driver_opts
      device: "/home/$USER/data/mariadb"

  wordpress-data:
    <<: *bind-mount-base
    driver_opts:
      <<: *driver_opts
      device: "/home/$USER/data/wordpress"

