version: '3'

services:
  mariadb:
    build:
      context: images/mariadb
    image: mariadb
    restart: unless-stopped
    networks:
      - default
    volumes:
      - db_data:/var/lib/mysql

networks:
  default:

volumes:
  db_data:
