DROP USER IF EXISTS '{{ .Env.DB_USER }}';
CREATE USER '{{ .Env.DB_USER }}'@'%' IDENTIFIED BY '{{ .Env.DB_PASS }}';
CREATE DATABASE {{ .Env.DB_NAME }};
GRANT ALL PRIVILEGES ON {{ .Env.DB_NAME }} . * TO '{{ .Env.DB_USER }}'@'%';
FLUSH PRIVILEGES;
