server {
	listen 443 ssl;
	listen [::]:443 ssl;

	server_name {{ .Env.DOMAIN_NAME }};

	ssl_protocols TLSv1.2 TLSv1.3;
	ssl_certificate /etc/nginx/ssl/cert.crt;
	ssl_certificate_key /etc/nginx/ssl/private.key;

	resolver 127.0.0.11;

	location / {
		root /var/www/wordpress;
		index index.php;

		location ~ \.php$ {
			  set $upstream_wp {{ .Env.WP_HOST }};
			  fastcgi_pass $upstream_wp:9000;
			  fastcgi_index index.php;
			  fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
			  include fastcgi_params;
		}
	}

	location /adminer {
		root /var/www;
		index index.php;

		location ~ \.php$ {
			  set $upstream_adminer {{ .Env.ADMINER_HOST }};
			  fastcgi_pass $upstream_adminer:9000;
			  fastcgi_index index.php;
			  fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
			  include fastcgi_params;
		}
	}


}
