<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Inception minisite</title>
</head>

<body class="bg-gray-100" style="height: 100%;">
  <div class="h-full flex flex-col">

    <!-- Navbar -->
    <div class="bg-white shadow-sm flex-grow-0 h-16">
      <div class="container h-full mx-auto">
        <div class="h-full flex items-center">
          <div class="flex-grow-0 flex flex-row items-center">
            <h2 class="-mt-1 text-2xl">Inception</h2>
          </div>
        </div>
      </div>
    </div>

	<!-- Main box -->
    <div class="flex-grow overflow-y-auto flex justify-center items-center -mt-10">
      <div class="flex-grow-0 bg-white dark:bg-gray-900 p-6 border-gray-300 dark:border-gray-900 border" style="min-width: 520px;">
        <div class="flex flex-row max-w-lg">
          <div class="flex-grow-0 p-5 text-center">
            <h1 class="font-bold text-lg">Welcome to my Inception minisite</h1>
            <p class="text-sm mb-10">
				This is a mini demo site, powered by a Go backend and TailwindCSS.<br>
				I also made some presentation slides, with the awesome <a href="https://sli.dev">Slidev</a> tool.
            </p>
			<a href="{{ . }}" class="rounded w-1/3 pt-2 pb-2 pl-4 pr-4 button bg-transparent border-indigo-500 text-indigo-500 text-primary border border-primary hover:bg-indigo-500 hover:text-white transition duration-150 ease-in-out">
              Take me to the slides!
            </a>
          </div>
        </div>
      </div>
    </div>

	<!-- Footer -->
	<div class="flex flex-row-reverse bg-transparent h-16">
		<div class="flex flex-grow-0 h-16 pr-16">
		  <img class="h-full" src="https://github.com/ashleymcnamara/gophers/raw/master/BLUE_GLASSES_GOPHER.png" alt="A blue Gopher with glasses. (Source: https://github.com/ashleymcnamara/gophers)">
		</div>
	</div>

  </div>
</body>

</html>
